-
  const sliderData = [
    {
      name: 'disadvantages',
      icon: 'icon_telescope',
      title: translate.advantages.pitfails.title,
      list: [
        translate.advantages.pitfails.atomicity,
        translate.advantages.pitfails.lowPerformance,
        translate.advantages.pitfails.costs,
        translate.advantages.pitfails.lackNovelty
      ]
    },
    {
      name: 'advantages',
      icon: 'icon_microscope',
      title: translate.advantages.advantages.title,
      list: [
        translate.advantages.advantages.modularity,
        translate.advantages.advantages.easyIntegration,
        translate.advantages.advantages.costAndSpeed,
        translate.advantages.advantages.upgrades,
      ]
    }
  ]



mixin advantageGallery(data, type='advantages')
  .advantages__gallery
    .advantages__gallery-list
      each item in data
        .advantages__gallery-item
          if type === 'advantages'
            +icon('icon_advantage').advantages__icon.advantages__icon_check
          else
            +icon('icon_disadvantage').advantages__icon.advantages__icon_cross
          p.advantages__gallery-item-text
            != item

+section.advantages
  +container
    +slider('advantages')
      each item in sliderData
        +sliderSlide('advantages')
          .advantages__head-icon-wrap
            +icon(item.icon).advantages__head-icon
          h3.advantages__title
            != item.title
          +advantageGallery(item.list, item.name)
  +container
    +button({fill: true, icon: {name: 'icon_create_platform', class: 'advantages__button-icon'}})
      !=translate.advantages.developPlatformButton
