-
  const sliderData = [
    {
      name: 'disadvantages',
      icon: 'icon_telescope',
      title: 'Недостатки монолитных систем',
      list: [
        'Неделимость. Систему крайне сложно менять',
        'Низкая производительность. Системы копят много мусора',
        'Стоимость. Дорогостоящие лицензии и поддержка',
        'Отсутствие новизны. Нужно обновлять всю систему'
      ]
    },
    {
      name: 'advantages',
      icon: 'icon_microscope',
      title: 'Преимущества микросервисов',
      list: [
        'Модульность. Системы собираются как конструктор',
        'Легкая интеграция. Стандартный интерфейс для всего',
        'Стоимость и скорость. Open Source технологии',
        'Обновления и доступность. Легкая сборка и замена модулей'
      ]
    }
  ]



mixin advantageGallery(data, type='advantages')
  .advantages__gallery
    .advantages__gallery-list
      each item in data
        .advantages__gallery-item
          if type === 'advantages'
            +icon('icon_advantage').advantages__icon.advantages__icon_check
          else
            +icon('icon_disadvantage').advantages__icon.advantages__icon_cross
          p.advantages__gallery-item-text
            != item

+section.advantages
  +container
    +slider('advantages')
      each item in sliderData
        +sliderSlide('advantages')
          .advantages__head-icon-wrap
            +icon(item.icon).advantages__head-icon
          h3.advantages__title
            != item.title
          +advantageGallery(item.list, item.name)
  +container
    +button({fill: true, icon: {name: 'icon_create_platform', class: 'advantages__button-icon'}}).
      Разработать платформу
