include ../components/header.pug

-
  const sec1Data = [
    {
      icon: 'icon_create_platform',
      text: translate.sec1.creatingPlatformsButton,
      image: 'wheel',
      href: menu[5].href,
    },
    {
      icon: 'icon_buy_people',
      text: translate.sec1.sellPeopleButton,
      image: 'sheme',
      href: menu[5].href,
    }
  ];

mixin wheel
  .sec1__wheel&attributes(attributes)
    .sec1__wheel-inner
      img(src='./img/wheel.svg').sec1__wheel-img

+section.sec1.color-white
  +header.sec1__mobile-header
  +container.sec1__container
    .sec1__content
      .sec1__column.sec1__column_text
        h1
          !=translate.sec1.title_1
          <br>
          !=translate.sec1.title_2
        p
          !=translate.sec1.subtitle

        .sec1__platforms
          each item in sec1Data
            .sec1__platforms-title
              +icon(item.icon).sec1__platforms-icon
              a(href=`#${item.href}`).sec1__platforms-link
                != item.text

      .sec1__column.sec1__column_image
        +wheel

    .sec1__mouse
      +icon('icon_mouse').sec1__mouse-icon
      span.
        Just scroll it
  .sec1__button-wrap
    +button({fill: true})
      !=translate.sec1.requestOrderButton
  +social.sec1__social