-
  const sec2Data = [
    {
      icon: 'services',
      title: 'Отдельные сервисы и микросервисы',
      text: 'Функционал четко разделен и изолирован друг от друга в отельные контейнеры'
    },
    {
      icon: 'communication',
      title: 'Единый стандарт коммуникаций',
      text: 'Персональный API для каждого компонента системы. Едный стандарт доступа REST/AKKA'
    },
    {
      icon: 'lightweight',
      title: 'Легковесность реализованных систем',
      text: 'Прозрачная структура классов, технологии Opensource'
    },
    {
      icon: 'rocket',
      title: 'Возможность быстрого роста',
      text: 'При добавлении нового функционала создается и интегрируется новый контейнер'
    }
  ]

+section.sec2
  +container
    h3.sec2__title.
      IT-решение повторяет структуру бизнеса и должно подчиняться следующим правилам:
    
    +slider('sec2')
      each item in sec2Data
        +sliderSlide('sec2')
          .sec2__slider-slide-inner
            .sec2__slider-content
              img(src=`./img/${item.icon}.svg`, alt='')
              p.sec2__slider-title
                != item.title
            .sec2__slider-description
              p
                != item.text