-
  const sec2Data = [
    {
      icon: 'services',
      title: 'Разработка и внедрение IT-платформ',
      text: 'Функционал четко разделен и изолирован друг от друга в отельные контейнеры',
    },
    {
      icon: 'communication',
      title: 'Единый стандарт коммуникаций',
      list: [
        'Создание BPMN-архитектур',
        'Интеграция внешних сервисов с вашими системами',
        'Декомпозиция монолитных систем в сервисную и гибкую систему'
      ]
    },
    {
      icon: 'lightweight',
      title: 'Аутсорсинг разработки',
      text: 'Прозрачная структура классов, технологии Opensource'
    },
    //- {
    //-   icon: 'rocket',
    //-   title: 'Аутсорсинг разработки',
    //-   text: 'При добавлении нового функционала создается и интегрируется новый контейнер'
    //- }
  ]

+section.sec2(id=menu[0].href)
  +container.sec2__container
    h3.sec2__title.
      Направления нашей деятельности
    
    +slider('sec2')
      each item in sec2Data
        +sliderSlide('sec2')
          .sec2__slider-slide-inner
            .sec2__slider-content
              img(src=`./img/${item.icon}.svg`, alt='')
              p.sec2__slider-title
                != item.title
            .sec2__slider-description
              if item.text
                p
                  != item.text
              if item.list
                +simple-list(item.list).sec2__slider-list