-
  const sec2Data = [
    {
      icon: 'services',
      title: 'Разработка IT-платформ',
      list: [
        'Создание платформы вместо монолитной системы.',
        'Разработка микросервисов.',
        'Проектирование и создание прототипов.'
      ]
    },
    {
      icon: 'communication',
      title: 'Автоматизация бизнеса',
      list: [
        'Создание BPMN-архитектур.',
        'Интеграция внешних сервисов с вашими системами.',
        'Декомпозиция монолитных систем в сервисную и гибкую систему.'
      ]
    },
    {
      icon: 'lightweight',
      title: 'Аутсорсинг разработки',
      list: [
        'T&M. Разработчики выделены в вашу группу по часам.',
        'Собственная Agile команда для разработки отдельных блоков проекта.',
        'Проект под ключ.'
      ]
    }
  ]

+section.sec2(id=menu[0].href)
  +container.sec2__container
    h3.sec2__title.
      Основные направления нашей деятельности
    
    +slider('sec2')
      each item in sec2Data
        +sliderSlide('sec2')
          .sec2__slider-slide-inner
            .sec2__slider-content
              .sec2__slider-content-inner
                +icon(`icon_${item.icon}`).sec2__slider-content-img
                //- img(src=`./img/${item.icon}.svg`, alt='').sec2__slider-content-img
                p.sec2__slider-title
                  != item.title
            .sec2__slider-description
              if item.text
                p
                  != item.text
              if item.list
                +simple-list(item.list).sec2__slider-list