+section(id=menu[1].href).sec3.color-white
  +container
    .sec3__content
      h3.
        Платформы вместо монолитных систем — оптимальное решение для тех, кто ценит свое время

      p.
        Классические системы стали тормозить развитие бизнесов.<br> Они перегреты, перегружены, устарели.
      p.
        Монолитные решения делают монолитными и сами бизнесы.<br> Что парализует инновации и дает новым игрокам на рынке массу преимуществ.<br> Даже банки и крупные компании переключаются на легковесные наборы сервисов, образующих платформы.
      .sec3__button-wrap
        +button.
          Разработать платформу
  img(src='./img/platform.svg').sec3__platform.disable-actions
  img(src='./img/solar_system.svg').sec3__solar-system.disable-actions