+section(id=menu[5].href).sec3.color-white
  +container.sec3__container
    .sec3__content
      h3
        !=translate.sec3.title
      p
        !=translate.sec3.paragraph_1_1
        <br>
        !=translate.sec3.paragraph_1_2
      p
        !=translate.sec3.paragraph_2
  img(src='./img/platform.svg').sec3__platform.disable-actions
  img(src='./img/solar_system.svg').sec3__solar-system.disable-actions