+section(id=menu[5].href).sec3.color-white
  +container.sec3__container
    .sec3__content
      h3.
        Платформы вместо монолитных IT-систем — это гибкость вашего бизнеса
      p.
        Классические системы стали тормозить развитие бизнесов.<br> Они перегреты, перегружены, устарели.
      p.
        Наши платформы состоят из группы микросервисов, каждый из которых выполняет свои функции: например, отвечает за хранение файлов, транзакции или процесс подписания документов.
  img(src='./img/platform.svg').sec3__platform.disable-actions
  img(src='./img/solar_system.svg').sec3__solar-system.disable-actions