-
  const sec4Data = [
    {
      title: translate.sec4.timeAndMaterial.title,
      src: 'one.svg',
      text: translate.sec4.timeAndMaterial.text
    },
    {
      title: translate.sec4.projectApproach.title,
      src: 'two.svg',
      text: translate.sec4.projectApproach.text
    }
  ]

+section(id=menu[1].href).sec4.bg-black.color-white
  +container
    h3.sec4__title
      !=translate.sec4.title

    p.text-s.sec4__subtitle
      !=translate.sec4.subTitle_1
      <br>
      !=translate.sec4.subTitle_2

    +slider('sec4')
      each item in sec4Data
        +sliderSlide('sec4')
          .sec4__slide-inner
            .sec4__text
              h3.sec4__slider-title
                != item.title
              p
                != item.text
            img(src=`./img/${item.src}`).sec4__number