-
  const sec4Data = [
    {
      title: 'Time and material',
      src: 'one.svg',
      text: 'Он наиболее подходит в ситуации, когда ваша собственная ИТ команда нуждается во временном пополнении, чтобы пройти пик проекта. Также данный подход хорош для создания прототипов решений, когда существует несколько идей того, как будет выглядеть продукт.'
    },
    {
      title: 'Проектный подход',
      src: 'two.svg',
      text: 'Подходит для создания целевых решений. Создается структура проекта, проектирование интерфейсов, моделей данных, бизнес процессов, системы внутренних и внешних коммуникаций сервисов и далее начинается разработка.'
    }
  ]

+section(id=menu[6].href).sec4.bg-black.color-white
  +container
    h3.sec4__title.
      Аутсорсинг разработки

    p.text-s.sec4__subtitle.
      Наша команда или отдельные ее участники, могут быть выделены на ваш проект.<br> Существует два подхода к решению ваших задач:

    +slider('sec4')
      each item in sec4Data
        +sliderSlide('sec4')
          .sec4__slide-inner
            .sec4__text
              h3.sec4__slider-title
                != item.title
              p
                != item.text
            img(src=`./img/${item.src}`).sec4__number