-
  const sec5Data = [
    {
      title: 'Java',
      icon: 'java.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'Ruby on rails',
      icon: 'rails.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'React redux, Apollo, GraphQL',
      icon: 'js.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'Camunda',
      icon: 'camunda.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'Python',
      icon: 'python.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'Node.js',
      icon: 'node_js.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'Mobile apps',
      icon: 'apps.png',
      middle: '1800',
      senior: '2100',
    },
    {
      title: 'PHP',
      icon: 'php.png',
      middle: '1800',
      senior: '2100',
    }
  ]

+section.sec5.bg-white
  +container
    h3.sec5__title.
      Технологии и ставки

    +slider('sec5')
      each item in sec5Data
        +sliderSlide('sec5')
          .sec5__slider-slide-inner
            .sec5__slider-image-wrap
              img(src=`./img/${item.icon}`, alt="").sec5__slider-image
            .sec5__slide-info
              p.sec5__slide-title
                strong
                  != item.title
              .sec5__slide-item
                p.sec5__slide-experience.
                  Middle
                p.mb-0
                  strong.text-m
                    != item.middle
                  |
                  |
                  strong.
                    ₽ / час
              .sec5__slide-item
                p.sec5__slide-experience.
                  Senior
                p.mb-0
                  strong.text-m
                    != item.senior
                  |
                  |
                  strong.
                    ₽ / час
            .sec5__slider-description
              p.