-
  const sec5Data = [
    {
      title: 'Java, Play, Spring, JE8',
      icon: 'java.png',
      middle: translate.sec5.price.java.middle,
      senior: translate.sec5.price.java.senior,
    },
    {
      title: 'Ruby on rails',
      icon: 'c_language.png',
      middle: translate.sec5.price.rails.middle,
      senior: translate.sec5.price.rails.senior,
    },
    {
      title: 'JavaScript, React:Redux, Apollo, GraphQL, Node.js',
      icon: 'js.png',
      middle: translate.sec5.price.js.middle,
      senior: translate.sec5.price.js.senior,
    },
    {
      title: 'Camunda',
      icon: 'camunda.png',
      middle: translate.sec5.price.camunda.middle,
      senior: translate.sec5.price.camunda.senior,
    },
    {
      title: 'Python, Django, Flask, Falcon',
      icon: 'python.png',
      middle: translate.sec5.price.python.middle,
      senior: translate.sec5.price.python.senior,
    },
    {
      title: 'Mobile apps, Native, Android, IOS',
      icon: 'react.png',
      middle: translate.sec5.price.apps.middle,
      senior: translate.sec5.price.apps.senior,
    },
    {
      title: 'PHP',
      icon: 'php.png',
      middle: translate.sec5.price.php.middle,
      senior: translate.sec5.price.php.senior,
    }
  ]



+section(id=menu[1].href).sec5.bg-white
  .sec5__container
    h3.sec5__title
      != translate.sec5.title

    +slider('sec5')
      each item in sec5Data

        mixin sec5Button(buttonClass = '')
          +button({ fill: true, icon: {name: 'icon_buy_people', class: `sec5__slide-button-icon`} })&attributes(attributes)
            != translate.sec5.buyManButton

        +sliderSlide('sec5')
          .sec5__slider-slide-inner
            .sec5__slider-image-wrap
              img(src=`./img/${item.icon}`, alt="").sec5__slider-image
            .sec5__slider-description
              p.
          //- .sec5__slide-button-tablet
          //-   +sec5Button()