-
  const directions = [
    translate.sec6.directions.platformDevelopment,
    translate.sec6.directions.devOps,
    translate.sec6.directions.design,
    translate.sec6.directions.frontend,
    translate.sec6.directions.workflow,
    translate.sec6.directions.backend
  ]
  const rows = 0
  let desktopDirections = []
  let tempRow = []
  directions.forEach((item, index) => {
    if (tempRow.length < 3) {
      tempRow.push(item)
    }
    if (tempRow.length === 3) {
      const row = JSON.parse(JSON.stringify(tempRow))
      desktopDirections.push(row)
      tempRow = []
    }
  })

mixin sec6Slide(cls)
  +sliderSlide('sec6')(class=cls)
    .sec6__slider-slide-inner&attributes(attributes)
      block

mixin people
  .sec6__people
    img(src="img/icon_people.svg").sec6__people-icon.sec6__people-icon_team
    img(src="img/icon_100.svg").sec6__people-icon.sec6__people-icon_amount

mixin directionItem
  .sec6__direction.js-open-popup
    block

mixin directions(cls)
  .sec6__directions(class=cls)
    each directionRow in desktopDirections
      .sec6__directions-row
        each directionName in directionRow
          +directionItem
            !=directionName

mixin about
  .sec6__about&attributes(attributes)
    h3
      != translate.sec6.title
    p
      != translate.sec6.paragraph_1
    p
      != translate.sec6.paragraph_2
    .sec6__button-wrap
      +button()
          != translate.sec6.contactUsButton

mixin sec6Slider
  +slider('sec6', {pagination: {invert: true}, scrollbar: {invert: true}})(class="sec6__slider_desktop")
    +sec6Slide('sec6__slider-slide_main')
      .sec6__slider-about
        +about
    +sec6Slide
      +directions('sec6__directions_desktop')

mixin sec6SliderMobile
  +slider('sec6', {pagination: {invert: true}, scrollbar: {invert: true}})(class="sec6__slider_mobile")
    each directionName in directions
      +sec6Slide
        +directionItem
          !=directionName

+section(id=menu[2].href).sec6.color-white
  img(src="./img/our_skills.svg").sec6__skills
  +container
    .sec6__content_desktop
      +sec6Slider
    .sec6__content_mobile
      +about
      +sec6SliderMobile