-
  const sec8Data = [
    {
      text: 'Мы оцениваем, что вы, ребята, выполнили работу очень профессионально, и что время отклика, когда были выявлены проблемы, было отличным. В целом, было здорово работать вместе, и я считаю, что у нас будет больше работы вместе в ближайшем будущем!',
      company: 'Михаил Серебряников,',
      note: 'ДиБиАй системс',
    },
    {
      text: 'На каждом этапе Pfactory зарекомендовали себя как высокопрофессиональный, компетентный и инициативный партнер. То, что началось как пробные отношения шесть месяцев назад, превратилось в постоянное партнерство, которое будет расти и расти. Ваша квалифицированная и профессиональная команда разработчиков, в сочетании с готовой UI библиотекой позволили нам значительно ускорить цикл разработки. Основываясь на нашем опыте, я бы без колебаний рекомендовал вашу компанию другим, кто ищет профессиональное развитие на аутсорсинге.',
      company: 'Артур Гадзиев,',
      note: 'Технологии Кредитования',
    },
    {
      text: 'Когда у нас появилась идея для нового программного продукта, команда Pfactory была фантастической в сборе наших требований, предлагая техническое решение, и они даже создали прототип для проверки своего подхода. Это была прочная основа для разработки конечного продукта и отличный старт для будущего сотрудничества.',
      company: 'Николай Тарин,',
      note: 'Ростелеком',
    },
    {
      text: 'Pfactory помогли нам разработать платформу для обучения мирового класса. Команда профессионалов, подкованных навыками для удовлетворения всех наших потребностей в области построения платформ. Ни одна задача не является слишком маленькой или большой; они надежны и работают с большим чувством срочности.',
      company: 'Александр Волченков,',
      note: 'Деловая Среда',
    },
    {
      text: 'Pfacoty предлагают эффективное управление проектом которое ощутимо сказывается на времени и на бюджете. Новые релизы предоставляются в сроки, соответствующие вашим требованиям. Мы были очень довольны результатами их работы и рекомендуем их в качестве партнера по разработке приложений.',
      company: 'Виталий Михайлов,',
      note: 'Сбербанк',
    },
    {
      text: 'Когда то выделенное подразделение нашей компании, стало полностью автономным и сильным игроком. Мы дали ребятам хороший старт но они вернули нам куда большее: Реализация платформенных на Java под ключ, довольных заказчиков. Долгих лет на рынке и дальнейшего партнерства.',
      company: 'Павел Фролов,',
      note: 'Ylab',
    }
  ]

+section.sec8.bg-black.color-white
  +container
    +slider('sec8', {pagination: {invert: true}})
      each item in sec8Data
        +sliderSlide('sec8')
          .sec8__slider-slide-inner
            p.sec8__quote-icon
              em.
                “
            h5.sec8__quote
              em
                !=item.text
            h4.sec8__company
              !=item.company
            p
              em
                !=item.note