-
  const sec8Data = [
    {
      text: translate.sec8.dbi.text,
      company: translate.sec8.dbi.name,
      note: translate.sec8.dbi.company,
    },
    {
      text: translate.sec8.technologiiKreditovaniya.text,
      company: translate.sec8.technologiiKreditovaniya.name,
      note: translate.sec8.technologiiKreditovaniya.company,
    },
    {
      text: translate.sec8.rostelecom.text,
      company: translate.sec8.rostelecom.name,
      note: translate.sec8.rostelecom.company,
    },
    {
      text: translate.sec8.businessEnvironment.text,
      company: translate.sec8.businessEnvironment.name,
      note: translate.sec8.businessEnvironment.company,
    },
    {
      text: translate.sec8.sberbank.text,
      company: translate.sec8.sberbank.name,
      note: translate.sec8.sberbank.company,
    },
    {
      text: translate.sec8.ylab.text,
      company: translate.sec8.ylab.name,
      note: translate.sec8.ylab.company,
    }
  ]

+section.sec8.bg-black.color-white
  +container
    +slider('sec8', {pagination: {invert: true}})
      each item in sec8Data
        +sliderSlide('sec8')
          .sec8__slider-slide-inner
            p.sec8__quote-icon
              em.
                “
            h5.sec8__quote
              em
                !=item.text
            h4.sec8__company.
              #{item.company},

            p
              em
                !=item.note