.button {
  transition: $trans;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: inherit;
  font-weight: 500;
  line-height: 19px;
  color: white;
  padding: 9px 20px;

  @include media(w768) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:hover {
    border-color: $blue;
  }

  &_invert {
    border-color: $blue;
    color: black;

    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: white;
    }
  }

  &_fill {
    background-color: $blue;
    border-color: $blue;
    color: white;
  }

  &[disabled] {
    background-color: $gray-lighten;
    border-color: $gray-lighten;
    color: $gray-dark;

    &:hover {
      background-color: $gray-lighten;
      border-color: $gray-lighten;
      color: $gray-dark;
    }
  }
}

button {
  font-family: $TTNorms;
  &.button {
    outline: none;
  }
}

a {
  &.button {
    display: inline-flex;
  }
}