.input {
  position: relative;
  margin-bottom: 12px;

  @include media(w768) {
    margin-bottom: 17px;
  }

  &__field {
    transition: $trans;
    border-radius: 5px;
    border: 1px solid $gray-light;
    font-family: $TTNorms;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    padding: 14px 20px;
    width: 100%;

    @include media(w768) {
      font-size: 16px;
    }

    &::placeholder {
      color: $gray-dark;
    }

    &:focus {
      border-color: $blue;
      color: black;
      
      ~ .input__label {
        transform: translateY(10px);
        top: 0;
      }
    }

    &:valid {

      ~ .input__label {
        transform: translateY(10px);
        top: 0;
      }
    }
  }
}