.input {
  position: relative;
  margin-bottom: 12px;

  @include media(w768) {
    margin-bottom: 17px;
  }

  &__field {
    transition: $trans;
    border-radius: 5px;
    border: 1px solid $gray-light;
    font-family: $TTNorms;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    padding: 14px 20px;
    width: 100%;

    &:focus {
      border-color: $blue;
      color: black;
    }

    &::placeholder {
      color: $gray-dark;
    }

    &_valid {
      border-color: $green;

      &:focus {
        border-color: $green;
      }
    }

    &_invalid {
      border-color: $red;
      &::placeholder {
        color: $red;
      }
      &:focus {
        border-color: $red;
      }
    }

    @include media(w768) {
      font-size: 16px;
    }
  }
}