.loader-message {
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 74px;
  width: 100%;

  &_warning {
    background-color: $red-main;
  }

  &_attention {
    background-color: $blue-light;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    margin-right: 10px;
  }
}