.pages {
  transition: 0.3s ease;
  transform: translateX(-100%);
  background-color: white;
  border: 2px solid black;
  border-left: none;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &_show {
    transform: translateX(0);
  }

  &__button {
    transform: translateY(-50%);
    background-color: white;
    border: 2px solid black;
    border-left: none;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 100%;
  }
}