.popup {
  transition: $trans;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  // align-items: center;
  // justify-content: center;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  padding-left: $side-padding-mobile;
  padding-right: $side-padding-mobile;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: $min-width;
  min-height: 1px;
  z-index: 11;

  &_open {
    visibility: visible;
    opacity: 1;
  }
  
  &__inner {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 30px 20px;
    position: relative;
    max-width: 770px;
    min-height: 1px;

    @include media(w768) {
      padding: 50px 37px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    @include media(w768) {
      top: 20px;
      right: 20px;
    }

    &:hover {
      .popup__close-icon {
        fill: black;
      }
    }
  }

  &__close-icon {
    transition: $trans;
    font-size: 1.3rem;
    fill: $gray-light;
  }
}

.popup-open {
  overflow: hidden;
}