.sec1 {
  background-color: $black;
  background-image: url('../img/sec1-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 0;
  min-height: 100vh;

  @include media(w768) {
    padding-top: 190px;
  }

  @include media(w1024) {
    display: flex;
  }

  &__mobile-header {
    @include media(w768) {
      display: none;
    }
  }

  &__next-step {
    .sec1__platforms-title_first {
      transform: translateX(10%);
      opacity: 0;
    }

    .sec1__platforms-title_second {
      transform: translateX(0);
    }

    .sec1__wheel_desktop {
      transform: translateY(-50%) translateX(-10%);
      opacity: 0;
    }

    .sec1__sheme_desktop {
      transform: translateY(-60%) translateX(-60%);
    }
  }

  &__container {
    @include media(w1024) {
      flex-grow: 1;
    }
  }

  &__content {
    @include media(w1024) {
      display: flex;
      height: 100%;
    }
  }

  &__column {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 0;

    &_text {
      @include media(w1024) {
        text-align: left;
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
    }

    &_image {
      display: none;
      @include media(w768) {
        display: block;
        position: relative;
      }
    }
  }

  &__platforms {
    padding-top: 35px;
    
    @include media(w768) {
      justify-content: center;
      display: flex;
    }

    @include media(w1024) {
      justify-content: flex-start;
    }

    p {
      @include media(w768) {
        margin-bottom: 0;
      }
    }
  }

  &__platforms-title {
    text-align: center;
    margin-bottom: 30px;

    @include media(w768) {
      display: flex;
      align-items: center;
      text-align: left;
      margin-bottom: 0;
      margin-right: 20px;
      margin-left: 20px;
    }

    @include media(w1024) {
      text-align: left;
      margin-right: 40px;
      margin-left: 0;
      max-width: none;
    }

    p {
      @include media(w768) {
        margin-bottom: 0;
      }
    }

    &_second {
      transition: $trans;
      transform: translateX(-200%);
      position: absolute;
      top: 35px;
      left: 0;
    }
  }

  &__platforms-wheel {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &__platforms-icon {
    fill: $blue;
    font-size: 1.8rem;
    margin-bottom: 10px;

    @include media(w768) {
      flex-shrink: 0;
      margin-right: 10px;
      margin-bottom: 0;
    }

    @include media(w1024) {
      font-size: 2.2rem;
    }
  }

  &__platforms-text {
    font-weight: bold;

    @include media(w768) {
      font-size: 16px;
      line-height: 18px;
    }
  
    @include media(w1366) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &__platforms-image-wrap {
    text-align: center;
    @include mediaDown(w768) {
      display: none;
    }

    @include media(w1024) {
      text-align: left;
    }
  }

  &__platforms-img {
    max-width: 100%;
  }

  &__sheme {
    color: $gray;
    font-family: $Montserrat;
    display: inline-block;
    position: relative;
    text-align: left;
  }

  &__sheme-text {
    position: absolute;
    &_data {
      top: 18%;
      left: 8%;
    }
    &_groups {
      top: 83%;
      left: 53%;
    }
    &_users {
      top: 45%;
    left: 61%;
    }
  }

  &__slider-arrow.slider-arrow {
    top: 30px;
  }

  &__slider-pagination {
    display: none;
  }

  &__slider-scrollbar {
    display: none;
  }

  &__wheel {
    @include media(w1024) {
      transition: $trans;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 10%;
      width: 80%;
    }
  }

  &__wheel-inner {
    position: relative;
  }

  &__wheel-img {
    animation: rotate infinite 20s linear;
    max-width: 90%;
    @include media(w1024) {
      max-width: 100%;
    }
  }

  &__wheel-text {
    transform: translate(-50%, -54%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
  }

  &__sheme {
    &_desktop {
      transition: $trans;
      transform: translateY(-50%) translateX(200%);
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
    }
  }

  &__mouse {
    display: none;
    @include media(w1024) {
      transition: $trans;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: 0;
    }

    &_hide {
      opacity: 0;
    }
  }

  &__mouse-icon {
    fill: white;
    font-size: 1.5rem;
    margin-right: 10px;
  }

  &__button-wrap {
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 5;

    @include media(w768) {
      display: none;
    }
  }

  &__social {
    display: none;
    @include media(w1024) {
      display: flex;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}