$sec5-slides-length: 7;

.sec5 {
  padding-top: 50px;
  padding-bottom: 35px;

  @include mediaDown(w768) {
    text-align: center;
  }

  @include media(w768) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @include media(w1024) {
    padding-top: 95px;
    padding-bottom: 90px;
  }

  &__title {
    text-align: center;
    @include media(w768) {
      margin-bottom: 1.3em;
    }
  }

  &__slider {
    @include media(w768) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include media(w1024) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &_show-slides {
      @for $i from 1 through $sec5-slides-length {
        &:nth-child(#{$i}) {
          .sec5__slider-slide {
            .sec5__slider-image-wrap {
              transform: translate(-50%, -50%) scale(0.9);
            }
          }
        }
      }
      .sec5__slider-image-wrap {
        opacity: 0;
      }
      .sec5__slide-info {
        transform: translateY(0) !important;
        opacity: 1;
      }
    }

    &_mouse_enter {
      .sec5__slider-image-wrap {
        transition: $trans !important;
      }
      .sec5__slide-info {
        transform: translateY(0) !important;
        transition: $trans !important;
      }
    }
  }

  &__slider-slide {
    @for $i from 1 through $sec5-slides-length {
      &:nth-child(#{$i}) {
        .sec5__slider-image-wrap {
          transition: '#{$i}s' * 0.2 ease;
        }
        .sec5__slide-info {
          transform: translateY(calc(-2px * #{$i}));
          transition: '#{$i}s' * 0.2 ease;
        }
      }
      
    }
    @include media(w1024) {
      &:hover {
        .sec5__slider-image-wrap {
          opacity: 0;
        }
        .sec5__slide-info {
          opacity: 1;
        }
      }
    }
  }

  &__slider-slide-inner {
    position: relative;

    @include media(w768) {
      display: flex;
      align-items: center;
    }
    @include media(w1024) {
      height: 100%;
    }
  }

  &__slider-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    width: 100%;
    @include media(w768) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
    }
    @include media(w1024) {
      // transition: $trans;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &__slider-image {
    max-height: 100%;
    @include media(w768) {
      max-height: none;
      max-width: 100%;
    }
  }

  &__slide-info {
    text-align: center;
    @include media(w768) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }
    @include media(w1024) {
      // transition: $trans;
      background-color: white;
      border: 3px solid $blue;
      border-radius: 5px;
      padding: 30px 25px 25px;
      opacity: 0;
      z-index: 1;
      height: 100%;
    }
  }

  &__slide-title {
    margin-bottom: 1.5em;
  }

  &__slide-item {
    margin-bottom: 0.7em;

    @include media(w768) {
      margin-bottom: 0.2em;
    }
  }

  &__slide-experience {
    margin-bottom: 2px;
  }

  &__slide-amount {
    font-size: 24px;
  }

  &__slide-button {
    margin-top: 26px;
    white-space: nowrap;
  }

  &__slide-button-icon {
    font-size: 1.45rem;

    @include media(w1024) {
      font-size: 2rem;
    }
  }

  &__slider-arrow.slider-arrow {
    &.swiper-button-prev {
      padding-right: 0;
    }
    &.swiper-button-next {
      padding-left: 0;
    }
    align-items: center;
    height: 100%;
    background-color: white;
  }

  &__slider-pagination {
    display: none;
  }

  &__slider-scrollbar {
    display: none;
  }
}