$sec5-slides-length: 7;

.sec5 {
  padding-top: 50px;
  padding-bottom: 20px;

  @include mediaDown(w768) {
    text-align: center;
  }

  @include media(w768) {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @include media(w1024) {
    padding-top: 95px;
    padding-bottom: 90px;
    height: auto;
  }

  &__title {
    text-align: center;
    @include media(w768) {
      margin-bottom: 1.3em;
    }
  }

  &__slider {
    @include media(w768) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include media(w1024) {
      padding-bottom: 0;
    }
  }

  
  &__slider-wrapper {
    transition-timing-function: linear !important;
  }

  &__slider-slide-inner {
    position: relative;

    @include media(w768) {
      display: flex;
      align-items: center;
    }

    @include media(w1024) {
      height: 100%;
    }
  }

  &__slider-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    @include media(w500) {
      height: 100px;
    }
    @include media(w768) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 150px;
    }
  }

  &__slider-image {
    max-height: 100%;
  }

  &__slide-info {
    display: none;
    text-align: center;
    @include media(w768) {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }
    @include media(w1024) {
      transition: $trans;
      background-color: white;
      border: 3px solid $blue;
      border-radius: 5px;
      padding: 30px 25px 25px;
      opacity: 0;
      z-index: 1;
      height: 100%;
      display: block;
    }
  }

  &__slide-title {
    margin-bottom: 1.5em;
  }

  &__slide-item {
    margin-bottom: 0.7em;

    @include media(w768) {
      margin-bottom: 0.2em;
    }
  }

  &__slide-experience {
    margin-bottom: 2px;
  }

  &__slide-amount {
    font-size: 24px;
  }

  &__slide-button.sec5__slide-button {
    margin-top: 26px;
    white-space: nowrap;

    @include media(w768) {
      display: none;
    }

    @include media(w1024) {
      display: inline-flex;
    }
  }

  &__slide-button-tablet {
    display: none;
    justify-content: center;
    flex: 1;
    padding-top: 45px;

    @include media(w768) {
      display: flex;
    }

    @include media(w1024) {
      display: none;
    }
  }

  &__slide-button-icon {
    font-size: 1.45rem;

    @include media(w1024) {
      font-size: 2rem;
    }
  }

  &__slider-arrow.slider-arrow {
    display: none;
  }

  &__slider-pagination {
    display: none;
  }

  &__slider-scrollbar {
    display: none;
  }
}