.sec7 {
  $slider-image-height-mobile: 150px;
  $slider-image-height-tablet: 200px;
  padding-top: 50px;
  padding-bottom: 30px;

  @include media(w768) {
    padding-top: 60px;
    padding-bottom: 95px;
  }

  @include media(w1024) {
    padding-top: 90px;
    padding-bottom: 85px;
  }

  &__head {
    text-align: center;
    @include media(w1024) {
      margin-bottom: 0.8em;
    }
    @include media(w1366) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 130px;
    }
  }

  &__title {
    margin-bottom: 0.8em;
    @include media(w1366) {
      margin-bottom: 0;
    }
  }

  &__slider {
    padding-bottom: 60px;
    @include media(w1024) {
      padding-bottom: 110px;
    }
    @include media(w1366) {
      padding-bottom: 120px;
    }
  }

  &__slider-wrapper.slider-wrapper {
    transition-timing-function: linear;
  }

  &__slider-slide.slider-slide {
    width: auto;
  }

  .swiper-container-horizontal {
    .sec7__slider-arrow {
      @include mediaDown(w1024) {
        top: calc(#{$slider-image-height-tablet} / 2);
      }
      @include mediaDown(w768) {
        top: calc(#{$slider-image-height-mobile} / 2);
      }
    }
  }

  &__slider-slide-inner {
    @include media(w1024) {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__slider-image {
    max-width: 100%;
    max-height: 100%;

    &_dbi {
      height: 80px;
    }

    &_ylab {
      height: 80px;
    }

    &_rt {
      height: 100px;
    }
  }

  &__slider-slide-block {
    flex: 1;
    &_image {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      height: $slider-image-height-mobile;
      @include media(w768) {
        height: $slider-image-height-tablet;
      }
      @include media(w1024) {
        height: auto;
      }
    }
  }

  &__slider-slide-description {
    @include media(w1024) {
      max-width: 80%;
    }
  }

  &__slider-slide-title {
    @include mediaDown(w1024) {
      text-align: center;
    }
  }

  &__slider-slide-technologies {
    @include media(w1024) {
      margin-bottom: 0;
    }
  }

  &__slider-scrollbar {
    display: none;
  }

  &__save-presentation-link {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    @include media(w768) {
      font-size: 20px;
    }
  }

  &__save-presentation-icon {
    font-size: 1.9rem;
    margin-right: 10px;
  }

  &__save-presentation-link-text {

  }
}