h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.caption {

  &-s {
    font-size: 11px;
    font-weight: 500;
  }

  &-m {
    font-size: 12px;
    font-weight: 500;
  }

  &-l {
    font-size: 14px;
    font-weight: 500;
  }

  &-xl {
    font-size: 15px;
    font-weight: 500;
  }

  &-xxl {
    font-size: 17px;
    font-weight: 500;
  }
}

.text-light {
  
  &-m {
    font-size: 10px;
    font-weight: 300;
  }

  &-l {
    font-size: 11px;
    font-weight: 300;
  }

  &-xl {
    font-size: 14px;
    font-weight: 300;
  }

  &-xxl {
    font-size: 15px;
    font-weight: 300;
  }

  &-xxxl {
    font-size: 16px;
    font-weight: 300;
  }
}

.text {
  
  &-m {
    font-size: 12px;
  }

  &-l {
    font-size: 13px;
  }
}