-
  const title = translate.meta.title;
  const config = {
    url: translate.lang === 'ru' ? 'https://pfactory.ru' : 'https://pfactory.org',
    title: translate.meta.title,
    meta: {
      siteName: 'Pfactory',
      locale: translate.lang === 'ru' ? 'ru_RU' : 'en_EN',
      description: translate.meta.description,
    }
  }
  const menu = [
    {
      href: 'directions',
      text: translate.header.menu.directions
    },
    {
      href: 'price',
      text: translate.header.menu.prices
    },
    {
      href: 'about',
      text: translate.header.menu.about
    },
    {
      href: 'outsourcing',
      text: translate.header.menu.projects
    },
    {
      href: 'contacts',
      text: translate.header.menu.contacts
    },
    {
      href: 'platforms',
      text: 'Создание платформ'
    },
    {
      href: 'sell',
      text: 'Продажа людей'
    },
  ];
  const social = {
    adress: {
      text: translate.contacts.address
    },
    email: {
      href: 'mailto:contact@pfactory.ru',
      text: 'contact@pfactory.ru'
    },
    telegram: {
      //- href: 'tg:resolve?domain=pfactory',
      href: 'https://t.me/pfactory',
      text: 't.me/pfactory'
    },
    skype: {
      href: 'skype:pfactory?chat',
      text: 'skype:pfactory'
    },
    phone: {
      href: translate.contacts.phone.href,
      text: translate.contacts.phone.text
    },
    scarryDigital: {
      href: 'http://scarry.digital',
    }
  }