-
  const title = 'Pfactory';
  const menu = [
    {
      href: 'development',
      text: 'Разработка платформ'
    },
    {
      href: 'platforms',
      text: 'Платформы вместо систем'
    },
    {
      href: 'outsourcing',
      text: 'Аутсорсинг разработки'
    },
    {
      href: 'about',
      text: 'О нас'
    },
    {
      href: 'contacts',
      text: 'Контакты'
    }
  ];
  const social = {
    adress: {
      text: 'Новохорошевский пр-д, 18, Москва, 123308'
    },
    email: {
      href: 'mailto:contact@pfactory.ru',
      text: 'contact@pfactory.ru'
    },
    telegram: {
      href: 't.me/pfactory',
      text: 't.me/pfactory'
    },
    skype: {
      href: 'live:pfactory',
      text: 'live:pfactory'
    },
    phone: {
      href: 'tel:+79852885688',
      text: '+7-985-288-56-88'
    },
    scarryDigital: {
      href: 'http://scarry.digital',
    }
  }