-
  const title = 'Pfactory';
  const menu = [
    {
      href: 'development',
      text: 'Разработка платформ'
    },
    {
      href: 'platforms',
      text: 'Платформы вместо систем'
    },
    {
      href: 'outsourcing',
      text: 'Аутсорсинг разработки'
    },
    {
      href: 'about',
      text: 'О нас'
    },
    {
      href: 'contacts',
      text: 'Контакты'
    }
  ];
  const social = {
    adress: {
      text: 'Новохорошевский пр-д, 18, Москва, 123308'
    },
    email: {
      href: 'mailto:contact@pfactory.com',
      text: 'contact@pfactory.com'
    },
    telegram: {
      href: 't.me/pfactory',
      text: 't.me/pfactory'
    },
    skype: {
      href: 'live:pfactory',
      text: 'live:pfactory'
    },
    phone: {
      href: 'tel:1-855-773-0241',
      text: '1-855-773-0241'
    },
    scarryDigital: {
      href: 'http://scarry.digital',
    }
  }