-
  const title = 'Pfactory: Аренда программистов, разработка IT-платформ, автоматизиция бизнеса';
  const menu = [
    {
      href: 'directions',
      text: 'Направления'
    },
    {
      href: 'price',
      text: 'Цены'
    },
    {
      href: 'about',
      text: 'О нас'
    },
    {
      href: 'outsourcing',
      text: 'Проекты'
    },
    {
      href: 'contacts',
      text: 'Контакты'
    },
    {
      href: 'platforms',
      text: 'Создание платформ'
    },
    {
      href: 'sell',
      text: 'Продажа людей'
    },
  ];
  const social = {
    adress: {
      text: 'Новохорошевский пр-д, 18, Москва, 123308'
    },
    email: {
      href: 'mailto:contact@pfactory.ru',
      text: 'contact@pfactory.ru'
    },
    telegram: {
      //- href: 'tg:resolve?domain=pfactory',
      href: 'https://t.me/pfactory',
      text: 't.me/pfactory'
    },
    skype: {
      href: 'skype:pfactory?chat',
      text: 'skype:pfactory'
    },
    phone: {
      href: 'tel:+79852885688',
      text: '+7-985-288-56-88'
    },
    scarryDigital: {
      href: 'http://scarry.digital',
    }
  }