extends layouts/_default-layout.pug

include ./components/section.pug
include ./components/container.pug
include ./components/header.pug
include ./components/button.pug
include ./components/input.pug
include ./components/icon.pug
include ./components/slider.pug
include ./components/popup.pug

block content
  include ./svg/svg.pug
  +popup.js-form-popup
    h3.
      Заявка на разработку
    p.
      Вы можете написать нам сообщение, и мы свяжемся с вами в течение часа.
    form.index__form
      .index__form-fields
        .index__form-fields-item.index__form-inputs
          +input(placeholder="Ваше имя" required)
          +input(placeholder="Ваш e-mail" required)
          +input(placeholder="Ваш телефон" required)
        .index__form-fields-item
          +input('textarea')(placeholder="Сообщение" rows="8").index__form-textarea
      .index__form-button-wrap
        +button({tag: 'button', invert: true}).
          Отправить заявку
  +header.main-header
  .fix-section
    include ./sections/sec1.pug
    include ./sections/sec2.pug
    include ./sections/sec3.pug
  include ./sections/sec4.pug
  include ./sections/sec5.pug
  include ./sections/sec6.pug
  include ./sections/sec7.pug
  include ./sections/sec8.pug
  include ./sections/sec9.pug

