doctype html

include ../common/variables.pug

block init
block vars

html
  head
    meta(charset="utf-8")
    meta(name="description", content=translate.meta.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
    title #{title}
    include ../common/favicons.pug
    link(href="styles/main.css?v=" + Date.now(), rel="stylesheet")
    //- ATS -//
    script(type="text/javascript").
      var __cs = __cs || [];
      __cs.push(["setCsAccount", "3M6p6OvNg0cLwCBGYE5G7GwVfBPRQzSS"]);
    <script type="text/javascript" async src="https://app.comagic.ru/static/cs.min.js"></script>
    //- ATS -//
  body
    block content
    script(src="scripts/app.js?v=" + Date.now() async)
    include ../common/marketing.pug
