mixin button(options = {tag: 'a', invert: false, fill: false})
  -
    const {tag, invert, fill} = options;
    const buttonInvertCls = !invert ? '' : 'button_invert';
    const buttonFillCls = !fill ? '' : 'button_fill';
    const buttonTag = tag ? tag : 'a';
  #{buttonTag}.button(class=`${buttonInvertCls} ${buttonFillCls}`)&attributes(attributes)
    span.button__inner
      block