mixin formMessages(data = {error: translate.formFields.mandatoryFields, success: translate.formFields.successMessage})
  -
    const { error, success } = data
  .form__messages
    p.form__message.form__message_success.js-message-success
      != success
    p.form__message.form__message_error.js-message-error
      != error