include button.pug

mixin loader-fail-block
  .loader-fail-block
    .loader-fail-block__head
      p.tt-uppercase.
        can't connect to network
      p.text-light-xl.color-blue-main.
        Try again later or enter the offline version
    +button-small(href='').loader-fail-block__button.
      enter the wallets
    p.tt-uppercase.text-light-m.
      the data of all wallets may be incorrect<br> without connection to the network